* {
    margin: 0;
    padding: 0;
}

#container {
    background-color: black;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#hh {
    position: relative;
    font-family: 'Courier New', Courier, monospace;
    margin-top: 50px;
    font-size: 30px;
    color: #ffffff;
    opacity: 0;
    top: 50px;
    animation: rr 1s forwards ease 10s;
}

@keyframes rr {
    to {
        opacity: 0.7;
        top: 0;
    }
}

#par {
    position: relative;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 50px;
    width: max-content;
}

#par::before {
    content: "";
    position: absolute;
    inset: 0;
    left: 0;
    background: black;
    animation: writer steps(27) 7s 2s forwards;
}

#par::after {
    content: "";
    position: absolute;
    width: 4px;
    height: 100%;
    left: 0.5%;
    background: white;
    animation: writer steps(27) 7s 2s forwards, flash 700ms infinite;
}

@keyframes writer {
    to {
        left: 100%;
    }
}

@keyframes flash {
    to {
        background-color: rgba(255, 255, 255, 0.3);
    }
}