* {
    margin: 0;
    padding: 0;
}

#container {
    background-color: black;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#circle {
    height: 200px;
    aspect-ratio: 1;
    background-color: black;
    border-radius: 50%;
    position: relative;
    border-left: 7px solid white;
    border-top: 7px solid white;
    border-right: 7px solid black;
    border-bottom: 7px solid black;
    animation: animate 1s linear infinite;
}

@keyframes animate {
    to {
        transform: rotate(360deg);
    }
}

#circle::before {
    content: "";
    height: 150px;
    aspect-ratio: 1;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#circle::after {
    content: "";
    height: 280px;
    aspect-ratio: 1;
    background-color: transparent;
    border-radius: 50%;
    position: absolute;
    border-right: 3px solid white;
    border-top: 3px solid white;
    border-left: 3px solid black;
    border-bottom: 3px solid black;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation-delay: 5s;
}